@model TagHelperForms.Models.UserModel

<h1>Users</h1>

<form asp-action="Index" method="post">

        <label asp-for="Name">Name</label>   
      <input asp-for="Name" placeholder="Your Name here" class="form form-control" />  

      <label asp-for="Email">Email</label>   
      <input type="email" asp-for="Email" placeholder="Your Email here" class="form form-control" />

      <label asp-for="Batch">Batch</label>   
      <input type="text" asp-for="Batch" placeholder="Your Batch here" class="form form-control" />

        <label asp-for="Age">Age</label>   
      <input type="number" asp-for="Age" placeholder="Your Age here" class="form form-control" />

<label asp-for="Gender">Gender</label> 
 <select asp-for="Gender" class="form-select" asp-items="Html.GetEnumSelectList<Gender>()">
<option>Select Gender</option>
</select>

<label action="mt-2">Are you Married ?</label>  
<br />
<input type="radio" class="form-check-input" asp-for="Married" value="Yes" />
<label class="form-check-label">Yes</label>   

<input type="radio" class="form-check-input" asp-for="Married" value="No" />
<label class="form-check-label">No</label>   
<br /><br />
      <input  type="submit" value="Submit" class="btn btn-outline-primary mt-2"/>

</form>