

@* <h1>@ViewData["courseList"]</h1> *@

<h2>List of Courses</h2>
<ol>
@{
    string[] courses = ViewData["courseList"] as string[];
    foreach (string course in courses)
    {
        <li> @course </li>
    }

}
</ol>