@model List<DatabaseApp.Models.Student>

<h1>Students</h1>

<a asp-controller="Student" asp-action="Create">Create</a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Batch</th>
        </tr>

        <tbody>
            @{
           int count = 1;
        }
            @foreach (var std in Model)
            {
                <tr>
                <td>@count</td>
                <td>@std.sname</td>
                <td>@std.semail</td>
                <td>@std.sbatch</td>
                </tr>
                count++;
            }

        </tbody>
    </thead>
   
</table>


