@* <a asp-controller="about" asp-action="index">About</a> *@


<h1>About of PR2-202311B</h1>

<ul>
    <li>Mudassir</li>
    <li>Zaki</li>
    <li>Suleman</li>
    <li>Aliyan</li>
    <li>Touqeer</li>
</ul>