@model DatabaseApp.Models.Product
<h1>Add Product</h1>
<a asp-controller="Product" asp-action="Index">Back</a>


<form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">

    <label asp-for="prodName" class="form-label">Name</label>
    <input type="text" asp-for="prodName" placeholder="Product Name" class="form-control"/>
    <br />

    <label asp-for="prodPrice" class="form-label">Price</label>
    <input type="number" asp-for="prodPrice" placeholder="Product Price" class="form-control" />
    <br />

    <label asp-for="prodImage" class="form-label">Image</label>
    <input type="file" asp-for="prodImage" class="form-control" />
    <br />

    <input type="submit" value="Create" class="btn btn-outline-primary mt-3" />


</form>
