@model List<DatabaseApp.Models.Product>
<h1>Products</h1>
<a asp-controller="Product" asp-action="Create">Create</a>

<div class="container">
    <div class="col-md-12">

        <div class="row justify-content-evenly">
            @foreach (var prod in Model)
            {
                <div class="card mt-5" style="width: 18rem;">
                    <img src="~/uploads/@prod.prodImage" class="card-img-top" alt="@prod.prodName">
                    <div class="card-body">
                        <h5 class="card-title">@prod.prodName</h5>
                        <h6 class="card-title">@prod.prodPrice</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a asp-controller="Product" asp-action="Show" asp-route-id="@prod.Id" class="btn btn-primary">View</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>